/*login button */
.twi-btn-left {
  display: inline-block;
  width: 54px;
  height: 40px;
  text-align: center;
  background: url(../images/icons.png) no-repeat 0 -64px;
}

.twi-btn-left:hover {
  background: url(../images/icons.png) no-repeat 0 -144px;
}

.twi-btn-left:hover span {
  color: white;
}

.twi-btn-left span {
  line-height: 40px;
  text-indent: 6px;
  color: #555;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
