/*index.html style*/
body {
  margin-top: 1px;
  font-size: 13px;
  line-height: 18px;
}

#page-head-right {
  float: right;
}

#page-head-right #main-login {
  height: 40px;
}

/* login button style */
.twi-btn-left {
  display: inline-block;
  width: 54px;
  height: 40px;
  text-align: center;
  background: url(../images/icons.png) no-repeat 0 -64px;
}

.twi-btn-left:hover {
  background: url(../images/icons.png) no-repeat 0 -144px;
}

.twi-btn-left:hover span {
  color: white;
}

.twi-btn-left span {
  line-height: 40px;
  text-indent: 6px;   /* 这个需要优化 */
  color: #555;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/*register button style*/
.twi-btn-right {
  background: url(../images/icons.png) no-repeat -54px -64px;
  display: inline-block;
  width: 54px;
  height: 40px;
  text-align: center;
}

.twi-btn-right:hover, twi-btn-right.active {
  background: url(../images/icons.png) no-repeat -54px -104px;
}

.twi-btn-right:hover span, .twi-btn-right.active span {
  color: white;
}

.twi-btn-right span {
  text-indent: -6px;
  color: #555;
  display: inline-block;
  line-height: 40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#main-menu {
  float: right;
  margin-top: 20px;
  position: relative;
  clear: both;
}

#main-menu a {
  padding-left: 20px;
  text-decoration: none;
  color: #666;
  font-size: 16px;
}

#main-menu a:hover {
  color: #19896b;
}

#carousel-box {
  height: 770px;
}

.carousel-indicators {
  top: 530px;
  left: 500px;
}

.carousel-caption {
  top: 580px;
  background-color: #e4e4e4;
}

.carousel-inner {
  overflow: visible;
}

.carousel-caption h4, .carousel-caption p {
  line-height: 20px;
  color: #333;
}

.carousel-indicators li {
  border: 0;
  background-color: #d4d5d6;
}

.carousel-indicators .active {
  background-color: #209e85;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  background-color: #333;
}

hr.slide_pic {
  position: relative;
  top: -220px;   /* 相对其本身应在的位置 */
  z-index: 1000;
  border-top: 2px solid #bbb;
  border-bottom: 1px solid #bbb;
}

hr.slide_h2 {
  position: relative;
  top: -160px;
  z-index: 1000;
}

.potrait {
  margin-right: 10px;
}

.potrait img {
  width: 40px;
  border-radius: 50%;
}

.page-header h3 {
  font-weight: bold;
}

.page-header a {
  text-decoration: none;
}

.quote-author {
  text-align: right;
}

.copyright {
  color: #666;
  text-align: center;
}


/*news.html style*/
.topbox {
  min-height: 84px;
  margin-bottom: 0;
  background-color: #fafafa;
}

.navbar-collapse {
  position: relative;
  top: 32px;
  left: -16px;
}

.form-control {
  height: 2em;
  border-radius: 20px !important;
}

.container.menu {
  padding-left: 0;
  margin-top: 6px;
  margin-bottom: 6px;
}

#menu {
  top: 0;
  width: 100%;
  background-color: #e4e4e4;
  z-index: 1000;
}

.main-body {
  background-color: #fafafa;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}

footer h4 {
  padding: 16px 0;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
}

footer ul {
  padding-top: 20px;
  border-top: 1px solid #eee;
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
}

footer .copyright {
  margin-top: 20px;
  margin-bottom: 20px;
}
